body {
  min-width: 610px;
}

html {
  min-width: 600px;
}

nav {
  position: fixed;
  z-index: 100000;
}
.nav-wrapper {
  background: linear-gradient(to right, #0164A5 , #35A5E1);
  padding-left: 30px;
  padding-right: 10px;
  border-bottom: 10px solid black;

}


.coverPhoto {
  background-color: black;
  background-image: url('./grass.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
  border-bottom: 10px solid black;
  height: 700px;
}

.caption {
  padding-top: 250px;
  padding-bottom: 50px;
}

.replace {
  font-size: 80px;
  font-family: 'Bowlby One SC', cursive;
  color: white;
  text-shadow: 4px 4px 2px rgba(0, 0, 0, 1);
}


.sectionTitle {
  font-family: 'Bowlby One SC', cursive;
  color: #0164A5;
  text-shadow: 2px 2px 1px rgba(1, 1, 1, .5);
}



#tryYourself {
  font-size: 50px;
  font-family: 'Bowlby One SC', cursive;
  color: black;
  text-shadow: 2px 2px 1px rgba(150, 150, 150, 1);
  text-align: center;
  position: static;
}

.resultsDiv1 {
  margin-left: 150px;
  margin-right: 150px;
  border-bottom: 10px solid black;
}

.resultsDiv {
  text-align: center;
}

#results {
  background-image: url('./clouds.jpg');
  border: 10px solid black;
  border-radius: 25px;
  margin-left: 60px;
  margin-right: 60px;
  height: 340px;
  font-size: 30px;
  font-family: 'Bowlby One SC', cursive;
  color: white;
  text-shadow: 2px 2px 1px rgba(1, 1, 1, .5);
  box-shadow: 10px 10px 1px rgba(1, 1, 1, .25);
  overflow-y: scroll;
  text-align: center;

}

form {
  width:500px;
  margin:50px auto;
}
.search {
  padding:8px 15px;
  background:rgba(50, 50, 50, 0.2);
  border:2px solid #dbdbdb;
  color: black;
  font-family: robotto;
}

.button {
  position:relative;
  padding:6px 15px;
  border:2px solid #207cca;
  border-radius: 25px;
  background-color:#207cca;
  color:#fafafa;
  align-items: center;
  align-self: center;
  align-content: center;
  position: fixed;

}
.button:hover  {
  background-color:#fafafa;
  color:#207cca;
}

#learnMore {
  font-size: 50px;
  font-family: 'Bowlby One SC', cursive;
  color: black;
  text-shadow: 2px 2px 1px rgba(150, 150, 150, 1);
  text-align: center;
  border-bottom: 10px solid black;
  padding-bottom: 15px;

}


.descriptions {
  text-align: center;

}

.partners {
  margin-left: 150px;
  margin-right: 150px;
  text-align: center;

}

.grass {
  background-image: url("./grass.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 200px;
}

.spreadTheWord {
  font-family: 'Bowlby One SC', cursive;
  color: #6ECDE3;
  text-shadow: 2px 2px 1px rgba(150, 150, 150, 1);
  text-align: center;
}

.spreadTheWord:hover {
  color: #0083C7;
}

.pledgeButton {
  border: 4px solid grey;
  border-radius: 10px;
}

.pledgeButton:hover {
  border: 4px solid black;
  border-radius: 10px;
}

.video {
  border: 10px solid black;
  border-radius: 25px;
}


.intrinsic-container {
  position: relative;
  height: 0;
  overflow: hidden;
}

/* 16x9 Aspect Ratio */
.intrinsic-container-16x9 {
  padding-bottom: 56.25%;
}

/* 4x3 Aspect Ratio */
.intrinsic-container-4x3 {
  padding-bottom: 75%;
}

.intrinsic-container iframe {
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
}




.footer {
  height: 75px;
  background: linear-gradient(to right, #4B830B , #ADE56C);
  padding-left: 30px;
  color: white;
  border-top: 10px solid black;
}

#search {
background-color: black;
border: none;
color: white;
padding: 10px 32px;
text-align: center;
text-decoration: none;
display: inline-block;
font-size: 16px;
border: 2px solid black;
border-radius: 10px;
font-family: sans-serif;
}

#clear {
  background-color: black;
  border: none;
  color: white;
  padding: 10px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border: 2px solid black;
  border-radius: 10px;
  font-family: sans-serif;
}

.largertext {
  font-size: 20px;
}


.description {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.line {
  border: 5px dashed black;
  width: 80%;
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
}

.pulsate {
  -webkit-animation: pulsate 3s ease-out;
  -webkit-animation-iteration-count: infinite;
  opacity: 0.5;
}
@-webkit-keyframes pulsate {
  0% {
      opacity: 0.5;
  }
  50% {
      opacity: 1.0;
  }
  100% {
      opacity: 0.5;
  }
}
